.dark-primary-color {
    background: #455A64;
}

.default-primary-color {
    background: #607D8B;
}

.light-primary-color {
    background: #CFD8DC;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #FF5252;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #727272;
}

.divider-color {
    border-color: #B6B6B6;
}

.font-dark {
    color: #5d6b79;
}

*:focus {
    outline: 0;
}

#hero-img {
    width: 100%;
}

.page-centre-align {
    width: 80%;
    max-width: 1000px;
    position: relative;
    height: 100%;
    margin: auto;
}

#hero-content {
    height: 500px;
}

.main-input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
    height: 50px;
    font-size: 22px;
    padding: 0 20px;
    margin: 30px 0px;
}